{% extends 'main_base.html' %}

{% from 'components/macros.html' import task_card %}

{% block content %}
    <div id="kb-board" class="">
        {% for column in data['columns'] %}

            <div class="kb-column px-3">
                {# column headers #}
                <div class="kb-column-header">
                    <div class="d-flex align-items-center">
                        <div class=""><i class="bi bi-grip-vertical text-secondary"></i></div>
                        <div class="p-2">{{ column['name'] }}</div>
                    </div>
                    <div class="d-flex align-items-center">
                        <button class="btn btn-link link-secondary p-1 btn-add-task" data-column-id="{{ column['id'] }}">
                            <i class="bi bi-plus-square"></i>
                        </button>
                        <div class="dropdown">
                            <button class="btn btn-link link-secondary"
                                    data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i>
                            </button>

                            <ul class="dropdown-menu dropdown-menu-end rounded-3 overflow-hidden p-2">
                                <li>
                                    <button type="button"
                                            class="btn btn-danger w-100 btn-remove-column"
                                            data-column-id="{{ column['id'] }}"
                                            data-column-name="{{ column['name'] | e }}">
                                        Delete
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                {# column tasks #}
                <div class="kb-task-list" id="column-{{ column['id'] }}" data-column-id="{{ column['id'] }}">
                    {% for task in data.tasks[column['id']] %}
                        {{ task_card(task) }}
                    {% endfor %}
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('kanban.static', filename='js/kanban.js') }}"></script>
{% endblock %}