<nav class="navbar navbar-expand-lg {{ ' bg-dark navbar-dark' if dark_mode else 'bg-light' }}">
    <div class="container-fluid px-2">
        <div class="d-flex gap-2 align-items-center">
            {# sidebar toggle #}
            <button data-bs-target="#sidebar" data-bs-toggle="collapse" class="btn {{ 'btn-dark' if dark_mode else 'btn-light' }}">
                <i class="bi bi-layout-text-sidebar"></i>
            </button>

            <div class="vr {{ 'text-white' if dark_mode }}"></div>
            {# project logo #}
            <a class="navbar-brand fw-bold px-2" href="#">
                <i class="bi bi-box me-1"></i> Project Name
            </a>
        </div>

        <div class="d-flex gap-1 align-items-center">
            {# 'toggle theme' button #}
            <a class="btn {{ 'btn-dark' if dark_mode else 'btn-light' }} rounded-3"
               title='switch to {{ 'light' if dark_mode else 'dark' }} theme'
               href="{{ url_for('ui.toggle_theme') }}">
                <i class="bi {{ 'bi-moon' if dark_mode else 'bi-sun' }}"></i>
            </a>

            {# search bar #}
            <input type="search" class="form-control rounded-3" placeholder="Search" aria-label="search">

            {# 'create' button #}
            <div class="dropdown">
                <button class="btn {{ 'btn-dark' if dark_mode else 'btn-light' }} dropdown-toggle no-caret rounded-3"
                        data-bs-toggle="dropdown"><i class="bi bi-plus-lg"></i>
                </button>

                <ul class="dropdown-menu dropdown-menu-end rounded-3 overflow-hidden p-2">
                    <li>
                        <button type="button"
                                class="btn btn-link p-1 text-decoration-none"
                                onclick="addColumn()"> New Column
                        </button>
                    </li>
                </ul>
            </div>

            {# 'notifications' button #}
            <div class="dropdown">
                <button class="btn {{ 'btn-dark' if dark_mode else 'btn-light' }} dropdown-toggle no-caret rounded-3"
                        data-bs-toggle="dropdown"><i class="bi bi-bell"></i>
                </button>
            </div>
        </div>
    </div>
</nav>