<div class="collapse collapse-horizontal flex-shrink-0 {{ 'bg-dark' if dark_mode else 'bg-light' }}" id="sidebar">
    <nav class="p-3 pe-2 d-flex flex-column justify-content-between h-100" style="width: 250px">
        <div class="d-flex flex-column">
{#            <a href="#" class="btn btn-outline-primary">#}
{#                <i class="bi bi-plus-lg"></i>#}
{#                Create Board#}
{#            </a>#}
        </div>

        {# account section #}
        <div class="">
            <div class="d-flex align-items-center pt-2 border-top">
                <img src="https://ui-avatars.com/api/?name=John+Doe" alt="User" class="rounded-2 me-3" width="40" height="40">
                <div class="flex-grow-1">
                    <div class="fw-bold text-truncate">Display Name</div>
                    <div class="small text-truncate text-muted">email@domain.tld</div>
                </div>
            </div>
        </div>
    </nav>
</div>