.no-caret::after {
    display: none; !important;
}

.dropdown-item.text-danger:hover {
    background-color: #dc3545 !important;
    color: #ffffff !important;
    /*transition: background-color 0.1s, color 0.1s;*/
}